img{
  max-height: 400px;
}
h3{
  color: white;
  font-size: 68px;
  padding-bottom: 154px;
  padding-top: 60px;
  font-weight: bold;
  text-align: center;
}
.fondo{
  background-color: black;
  padding-bottom: 60px;

}
.card{
  background-color: black;
color: white;
bottom: white;
}
