img{
  width: 300px;
}
h3{
  text-align: center;
}
.card{
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  font-size: 20px;
  color: white;
  background-color: black;
}
.card-title{
  font-weight: bold;
  font-size: 30px;

}
