<!-- <h2>Saber más sobre...</h2>
<section class="details1">

<figure class="detalles">
  <img src='{{autor.Image}}'/>
  <!-- <p> Nombre: {{ autor.name }}</p> -->
  <!-- <p>Edad: {{ autor.age }}</p>
  <p>Genero: {{ autor.gender }}</p> -->
  <!-- <p>Tipo de novela: {{ autor.typeText }}</p> -->
  <!-- <p>Biografía: {{ autor.descripcion }}</p> -->
<!-- </figure>
</section> --> -->


  <div class="row">

    <div class="card" style="width: 150rem;">
      <img class="card-img-top image-height" src={{autor.Image}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ autor.name }}</h5>
        <p> {{ autor.age }}</p>
        <p> {{ autor.gender }}</p>
        <p class="card-text"> {{autor.typeText}}</p>
        <p> {{ autor.descripcion }}</p>
      </div>
    </div>
  </div>



